@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e4e8ec;
  font-family: "Inter", sans-serif;
}

.chat-wrapper {
  width: 80%;
}

.chat-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  height: 75vh;
  width: 80%;
  overflow-y: scroll;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.message-input-container {
  position: relative;
  border-radius: 100px;
  background-color: white;
}

.message-input {
  height: 3vh;
  width: 90%;
  background-color: transparent;
  padding-top: 24px;
  padding-left: 35px;
  padding-bottom: 10px;
  font-size: 16px;
  border: none;
  outline: none;
}

.message-input:focus {
  border: none;
  outline: none;
}

.message-input-icon {
  position: absolute;
  cursor: pointer;
  align-self: center;
  padding-left: 3%;
}

.user-message {
  background: #cddaed;
  text-align: right;
  word-wrap: break-word;
}

.assistant-message {
  background: #d6dadf;
  text-align: left;
}
